<div class="right"><%= will_paginate %></div>

<h1>Maps</h1>

<fieldset>
<table class="full-width">
	<% @maps.each do |map| %>
	<tr>
		<td> <%= image_tag map.map.url(:thumb), :size => "66x33" %> </td>
		<td> <%= map.title %> </td>
		<td> <%= link_to "Edit", edit_admin_map_path(map) %> | <%= link_to  'Delete', [:admin, map], :confirm => 'Are you sure you would like to delete this map?', :method => :delete %>  </td>
	</tr>
	<% end -%>
</table>
</fieldset>

<% content_for :gtadmin_sidebar do %>
	<br/>
	<%= link_to "Add Map", new_admin_map_path, :class => "button" %>
	<br/>
	<br/>
	<div class="section">
		<%= link_to "All Maps", admin_maps_path({:site => "all"}) %><br/>
		<% @sites.each do |site| %>
			<% if session[:site] == site.id %> <strong> <% end %>
			<%= link_to site.title, admin_maps_path({:site => site.id}) %>
			<% if session[:site] == site.id %> </strong><% end %>
			<br/>
		<% end %>
	</div>
<% end -%> 
