<% @page_title = "Map of #{@map.title} | Old Maps of Paris" %>
<% content_for :app_header do %>
		<%= render :partial => 'js_vars' %>
		<meta name="description" content="<%= @map.description %>"/>
		<meta property="og:title" content="<%= @map.title %>"/>
	    <meta property="og:type" content="article"/>
	    <meta property="og:url" content="<%= map_url(@map) %>"/>
	    <meta property="og:image" content="<%= "#{current_site.full_domain}#{@map.map.url(:social)}" %>"/>
	    <meta property="og:site_name" content="<%= current_site.title %>"/>
	    <meta property="fb:admins" content="884285441"/>
	    <meta property="og:description"
	          content="<%= @map.description %>"/>
	    <meta itemprop="name" content="<%= @map.title %>">
		<meta itemprop="description" content="<%= @map.description %>">
		<meta itemprop="image" content="<%= "#{current_site.full_domain}#{@map.map.url(:social)}" %>">
		<link rel="canonical" href="<%= map_url(@map) %>">
<% end -%> 
	<div id="header">
		<div class="container">
		<div class="sixteen columns">	
			<div id="nav" class="nm">
				<ol>
					<li><a href="<%= current_site.full_domain %>">HOME</a></li>
					<li><a href="http://www.miletbaker.com/projects/old-maps-of-project/" target="_blank">ABOUT</a></li>
					<% current_site.linked_sites.each do |site| %>
						<li><a href="<%= site.full_domain %>"><%= site.city.upcase %></a></li>
					<% end %>
					<li><a href="http://www.miletbaker.com/tag/old-maps/" target="_blank">BLOG</a></li>
				</ol>
			</div>
			<a href="<%= current_site.full_domain %>"><h1 id="title"><%= current_site.title %></h1></a>
		</div>
		</div>
	</div>
	<div id="sub_header">
		<div class="container">
		<div class="sixteen columns">
		<div id="controls">
			<select id="map_selector">
				<% @maps.each do |map| %>
					<option value="<%= map.year %>"<%= "selected='selected'" if map == @map %>><%= map.title %></option>
				<% end %>
			</select>
			<div id="have_and_share" class="nm">
				<div class="label">Share:</div>
					<!-- Facebook -->
					<div class="share">
					<iframe src="//www.facebook.com/plugins/like.php?href=<%= request.host + map_path(@map) %>&amp;send=false&amp;layout=button_count&amp;width=110&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
					<!-- Twitter -->
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="miletbaker" data-related="gotripod">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
					<!-- Google+ -->
					<div class="g-plusone" data-size="medium"></div>

					<!-- Place this render call where appropriate -->
					<script type="text/javascript">
					  window.___gcfg = {lang: 'en-GB'};

					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</div>
				
				<div class="label">Have:</div>
				<div class="have">
					<button id="download" type="button">Download</button>
					<button id="embed" type="button">Embed</button>
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>
	<div id="map"></div>
	<div id="old_map"><a href="<%= map_url(@map) %>" title="View larger map"><img src="/images/omop-logo.png" alt="Old Maps of Paris"/></a></div>
	<div style="display:none">
		<div id="popup-embed">
			<h2>Embed This Map</h2>
			<p>Just copy this paste into your website's HTML</p>
			<textarea id="embed-code"></textarea>
		</div>
	</div>
<% content_for :app_footer do %>
<div id="cc-pd" class="nm">
	<p xmlns:dct="http://purl.org/dc/terms/">
		<a rel="license" href="http://creativecommons.org/publicdomain/mark/1.0/"><img src="/images/cc-pd.gif" alt="Public Domain Mark" /></a>
		This work (<span property="dct:title"><a href="<%= "#{current_site.full_domain}#{@map.map.url(:original)}" %>" rel="dct:creator"><%= @map.title %></a></span>), identified by <a href="<%= current_site.full_domain %>" rel="dct:publisher"><span property="dct:title"><%= current_site.title %></span></a>, is free of known copyright restrictions.
	</p>
</div>
<% end %>