<h1>Change Password</h1>
<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= error_messages_for :user, :header_message => "Please check the information you have provided below.", :message => "", :class => "alert" %>
<%= form_for @user, :url => reset_passwords_url + '/' + @user.perishable_token, :method => :put do |f| %>
	<ol class="form">
		<li class="label"><%= f.label :password, nil,:class => "login_form_label" %></li>
		<li class="field"><%= f.password_field :password, :class => "login_form_field" %></li>
	
		<li class="label"><%= f.label :password_confirmation, nil,  :class => "login_form_label" %></li>
		<li class="field"><%= f.password_field :password_confirmation, :class => "login_form_field" %></li>
	
		<li class="submit">
			<% if current_user %>
				<%= link_to "Cancel", current_user.logged_in_url, :class => "nudge" %>
			<% end %>
			<button type="submit">
				<img src="/images/icons/lock-unlock.png" alt="Authentication"> Change Password
			</button>
		</li>	
	</ol>
<% end %>